Flask
flask-cors
flask-socketio
python-socketio
openai-whisper
torch
torchaudio
transformers
sentencepiece
protobuf
librosa
soundfile
langdetect
deep-translator
nltk
python-docx
reportlab
numpy
scipy
pandas
setuptools
wheel